on:
  push:
    branches:
      - master

name: Generate readme

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
        id: go

      - name: Generate readme
        run: go run ./tools/readme-docs/main.go

      - name: Commit changes
        continue-on-error: true
        run: |
          git checkout master
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git add README.md
          COAUTHOR=`git log -1 --pretty=format:'Co-authored-by: %an <%ae>'`
          git commit -m "docs: updated readme" -m "$COAUTHOR"

      - name: Push changes
        if: ${{ success() }}
        run: |
          git push
